<!DOCTYPE html>
<html>
    <head>
        <title>Books</title>
    </head>
    <body>
        <h1>Books</h1>
        <hr>
        <ul>
            {% for i in b %}
            <li><a href="{{ url_for('book',isbn=i.isbn) }}">{{ i.title }}</a></li>
            {% endfor %}
        </ul>
        <hr>
        {% if loggedIn == 1 %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if loggedIn == 0 %}
        <a href="{{ url_for('index') }}">Login</a>
        {% endif %}
    </body>
</html>