<!DOCTYPE html>
<html>
    <head>
        <title>Hello</title>
    </head>
    <body>
        <h1>Register</h1>
        <form id="register" action="{{ url_for('search') }}" method="POST">
            <input name="name" type="text" placeholder="enter name">
            <input name="age" type="number" placeholder="enter age">
            <input name="phone" type="text" placeholder="enter phone">
            <input name="username" type="text" placeholder="enter username">
            <input name="password" type="password" placeholder="enter password">
            <button>submit</button>
        </form>
        <hr>
        <h3>If you are already a member then login</h3>
        <form id="login" action="{{ url_for('search') }}" method="POST">
            <input name="username" type="text" placeholder="enter username">
            <input name="password" type="password" placeholder="enter password">
            <button>submit</button>
        </form>
        <hr>
        <a href="{{url_for('search1')}}">enter without login</a>
    </body>
</html>
