<!DOCTYPE html>
<html>
    <head>
        <title>Welcome</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <style>
            body {
                padding-top: 10px;
                padding-left: 10px;
            }
        </style>
    </head>
    <body>
        <h1>Register</h1>
        <form id="register" action="{{ url_for('register') }}" method="POST">
            <input name="name" type="text" placeholder="Enter Name">
            <input name="age" type="number" placeholder="Enter Age">
            <input name="phone" type="text" placeholder="Enter Phone Number">
            <br>
            <input name="username" type="text" placeholder="Enter Username">
            <input name="password" type="password" placeholder="Enter Password">
            <br>
            <button>Submit</button>
        </form>
        <hr>
        <h3>If you have already registered, please login below</h3>
        <form id="login" action="{{ url_for('search') }}" method="POST">
            <input name="username" type="text" placeholder="Enter Username">
            <input name="password" type="password" placeholder="Enter Password">
            <br>
            <button>Submit</button>
        </form>
        <hr>
        <a href="{{url_for('search1')}}">Proceed Without Login</a>
    </body>
</html>
