<!DOCTYPE html>
<html>
    <head>
        <title>Find Books</title>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                if(!(sessionStorage.length === 0)) {
                    var n;
                    for (n in sessionStorage) {
                        if(!(sessionStorage.getItem(n) === null)) {
                            var l = document.createElement('li');
                            l.innerHTML = `<a href="/book/${n}">${sessionStorage.getItem(n)}</a>`;
                            document.querySelector('ul').append(l);
                        }
                        
                    }
                }
                document.querySelectorAll(".input_field").forEach(element => {
                    element.addEventListener("keyup", function(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            document.querySelector('button').click();
                        }
                    });
                });
                document.querySelector('button').onclick = () => {
                    sessionStorage.clear();
                    document.querySelector('ul').innerHTML="";
                    const request = new XMLHttpRequest();
                    request.open('POST', '/books');
                    request.onload = () => {
                        var data = JSON.parse(request.responseText);
                        document.querySelector('ul').innerHTML = "";
                        for(var x in data) {
                            var li = document.createElement('li');
                            li.innerHTML = `<a href="/book/${x}">${data[x]}</a>`;
                            document.querySelector('ul').append(li);
                            sessionStorage.setItem(x, data[x]);
                        }
                    };

                    
                    var title = document.querySelector('#title').value;
                    var isbn = document.querySelector('#isbn').value;
                    var author = document.querySelector('#author').value;

                    var p = new FormData();
                    p.append('title', title);
                    p.append('isbn', isbn);
                    p.append('author',author);

                    request.send(p);
                }
            });
        </script>
    </head>
    <body>
        <h1>Search</h1>
        <div>
            <input id="title" class="input_field" name="title" type="text" placeholder="Enter title or a part of it">
            <input id="isbn" class="input_field" name="isbn" type="text" placeholder="Enter ISBN or a part of it">
            <input id="author" class="input_field" name="author" type="text" placeholder="Enter author name or a part of it">
            <button>Submit</button>
        </div>
        <hr>
        <ul>
        </ul>
        <hr>
        {% if loggedIn == 1 %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if loggedIn == 0 %}
        <a href="{{ url_for('index') }}">Login</a>
        {% endif %}
    </body>
</html>
