<!DOCTYPE html>
<html>
    <head>
        <title>Find Books</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', () => {
                if(!(sessionStorage.length === 0)) {
                    for (var isbn in sessionStorage) {
                        if(!(sessionStorage.getItem(isbn) === null)) {
                            var l = document.createElement('li');
                            l.innerHTML = `<a href="/book/${isbn}">${sessionStorage.getItem(isbn)}</a>`;
                            document.querySelector('ul').append(l);
                        }
                    }
                }
                document.querySelectorAll(".input_field").forEach(element => {
                    element.addEventListener("keyup", function(event) {
                        if (event.keyCode === 13) {
                            event.preventDefault();
                            document.querySelector('button').click();
                        }
                    });
                });
                document.querySelector('button').onclick = () => {
                    sessionStorage.clear();
                    document.querySelector('ul').innerHTML="";
                    const request = new XMLHttpRequest();
                    request.open('POST', '/books');
                    request.onload = () => {
                        var response = JSON.parse(request.responseText);
                        document.querySelector('ul').innerHTML = "";
                        for(var isbn in response) {
                            var li = document.createElement('li');
                            li.innerHTML = `<a href="/book/${isbn}">${response[isbn]}</a>`;
                            document.querySelector('ul').append(li);
                            sessionStorage.setItem(isbn, response[isbn]);
                        }
                    };

                    
                    var title = document.querySelector('#title').value;
                    var isbn = document.querySelector('#isbn').value;
                    var author = document.querySelector('#author').value;

                    var requestForm = new FormData();
                    requestForm.append('title', title);
                    requestForm.append('isbn', isbn);
                    requestForm.append('author',author);

                    request.send(requestForm);
                }
            });
        </script>
    </head>
    <body>
        <h1>Search</h1>
        <div>
            <input id="title" class="input_field" name="title" type="text" placeholder="Enter title or a part of it">
            <input id="isbn" class="input_field" name="isbn" type="text" placeholder="Enter ISBN or a part of it">
            <input id="author" class="input_field" name="author" type="text" placeholder="Enter author name or a part of it">
            <button>Submit</button>
        </div>
        <hr>
        <ul>
        </ul>
        <hr>
        {% if loggedIn == 1 %}
        <a href="{{ url_for('logout') }}">Logout</a>
        {% endif %}
        {% if loggedIn == 0 %}
        <a href="{{ url_for('index') }}">Login</a>
        {% endif %}
    </body>
</html>
